<h1>Submission for survey "<%= @survey.title %>"</h1>

<p>
<%= "number #{@submission.id.to_s}" %>
</p>
<p>
<%= "number #{@submission.id.to_s}" %>
</p>
<p>
<%= link_to "view all submissions for this survey", survey_submissions_path(@survey) %>
</p>
